@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #462c1c;
  color: #cfb4a2;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.section__column-items {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.column-contents-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding: 0 25px;
}

.column-img {
  position: relative;
  width: 100%;
  height: 400px;
}
.column-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.text-items p {
  font-size: 30px;
  text-align: center;
}

.title {
  color: white;
  font-size: 50px;
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
  }
  .text-items p {
    font-size: 15px;
  }
  .column-contents-item {
    flex-direction: column;
  }
}